@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-weight: 400;
  color: #1f2937;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;

  /* Добавляем градиентный фон */
  background: linear-gradient(
    135deg,
    #dfd4ff 0%,
    #ffffff 25%,
    #9bafff 50%,
    #c0c6d8 75%,
    #a046b9 100%
  );
  background-attachment: fixed; /* Фиксируем фон, чтобы он не прокручивался */
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: #9466ff;
  border-radius: 3px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #70f;
}

.container {
  max-width: 1385px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn-reset {
  margin: 0;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.burger-menu {
  background-image: url(/img/burger.svg);
  width: 40px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  margin-right: 17px;
  margin-top: 10px;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.blink {
  animation: blink 1s infinite; /* Мигает каждые 1 секунду */
}

.service__cards {
  height: 370px;
}

.header__nav-menu {
  color: white;
}

.content {
  padding-top: 120px; /* Adjust this value based on your header height */
  transition: padding-top 0.7s ease-in-out;
}

.scrolled .content {
  padding-top: 80px; /* Adjust this value for when header is smaller */
}

/* @font-face {
  font-display: swap;
  font-family: Rostelecom Basis;
  font-style: normal;
  font-weight: 700;
  src: url('../../public/fonts/Rostelecom-Basis-Bold.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: Rostelecom Basis;
  font-style: normal;
  font-weight: 500;
  src: url('../../public/fonts/Rostelecom-Basis-Medium.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: Rostelecom Basis;
  font-style: normal;
  font-weight: 400;
  src: url('../../public/fonts/Rostelecom-Basis-Regular.woff') format('woff');
} */
